.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.217) rgba(0, 0, 0, 0.231)), 
    url("../../dist/assets/images/surf--for-web.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5em;
    &__content {
        & h1 {
            color: #eeeeee;
            font-size: 6em;
            margin-top: 100px;
            font-weight: 500;
            font-family: sofia-pro, sans-serif;
        }
        & p {
            font-size: 1.5em;
            color: #eee;
        }
    }
}

@media (max-width: 900px) {
    .hero {
        padding: 2em;
    }


}

@media (max-width: 700px) {

    .hero {
        padding: 1em;
        align-items: flex-end;
        padding-bottom: 3em
    }

    .hero__content h1 {
        font-size: 2.2em;
    }

    .hero__content p {
        font-size: 1.2em;
    }
}